---
import Base from '~/layouts/Base.astro';
import Hero from '~/components/Hero.astro';
import NewsBanner from '~/components/NewsBanner.astro';
import Section from '~/components/Section.astro';
import NewsList from '~/components/NewsList.astro';
import ExhibitionList from '~/components/ExhibitionList.astro';
import { getExhibitions, getNews } from '~/libs/microcms';

const news = await getNews(5);
const exhibitions = await getExhibitions(3);
const latest = news[0];
---

<Base current="/">
  <Hero />

  {
    latest && (
      <NewsBanner item={latest} />
    )
  }

  <Section title="お知らせ" moreHref="/news">
    <NewsList items={news} />
  </Section>

  <Section title="書展" moreHref="/exhibitions" flush>
    <ExhibitionList exhibitions={exhibitions} />
  </Section>
</Base>
